/* CSS COUMMUN POUR TOUTE LES PAGES*/

/* Définition des styles pour la page Accueil*/
body {
    background-color: #0a7677;
    margin: 0; /* Aucune marge extérieure */
    padding: 0; /* Aucun remplissage intérieur */
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}


/*-----------------------------------------------------------------------------------------*/
/* Définition des styles pour la bannière */
#banderole {
    background-color: #a6cccc;
    padding-bottom: 1%; /* Espacement en bas */
    padding-top: 1%; /* Espacement en haut */
    display: flex; /* Utilisation du modèle de boîte flexible */
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

/* Styles pour la barre en dessous de la bannière */
#couleur{
    background-color: #585858;
    padding: 10px; /* Remplissage intérieur */
}

/* Styles spécifiques pour le logo dans la bannière */
#logo {
    cursor: pointer; /* Curseur pointer au survol */
    height: 120px;
    width: 260px;
}

/* Styles spécifiques pour le titre dans la bannière */
#titre {
    height: 120px;
    width: 710px;
    align-items: center;
    display: flex;
    text-align: center;
}

#nbr_membre {
    height: 120px;
    width: 70px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

/* Styles pour le nom avec lequel l'utilisateur est connecté */
#nomCompte {
    float : right;
    height: 120px;
    width: 110px;
    align-items: center;
}

/* Styles pour le logo deconnexion */
#deco {
    cursor: pointer; /* Curseur pointer au survol */
    height: 120px;
    width: 110px;
    align-items: center;
    display: flex;
}


/*-----------------------------------------------------------------------------------------*/
/* Définition des styles pour le conteneur principal (celui où les bloc sont stocke) */
#wrapper {
    max-width: 1200px; /* Largeur max*/
    height: 100%; /* Hauteur fixe */
    min-height: 1350px; /* Largeur minimale */
    margin: auto; /* Centrer horizontalement */
    padding: 2%; /* Remplissage intérieur */
    text-align: center; /* Alignement du texte au centre */
}

/* Styles pour les boutons de direction */
#boutons{
    cursor: pointer;
    padding-top: 6px;
}

/* Styles pour le copyright */
#copy {
    background-color: #a6cccc;
    clear: both; /* Annule le flottement à gauche et à droite, permettant à "copy" de se positionner sous les éléments précédents */
    text-align: center; /* Alignement du texte au centre */
}


/*-----------------------------------------------------------------------------------------*/
/* Styles pour l'introduction afficher dans une boite quand on appuie sur le logo */

#container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#message_intro {
    background: #fff;
    width: 60%; /* largeur */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/


/* POUR LA PAGE ACCUEIL */

/* Styles pour les evenement de la semaine */
#even_semaine {
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 797px; /* Largeur fixe */
    height: 396px; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    float: left; /* Flotter à gauche */
    margin-top: 15px; /* Espacement en haut */
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}
#even_semaine p {
    text-align: left;
    padding-left: 15px; /* Espacement à gauche du paragraphe */
}

.bloc_semaine{
    border-radius: 10px; /* Bordure arrondie */
    width: 350px; /* Largeur fixe */
    height: 322px; /* Hauteur fixe */
    margin-left: 10px;
    text-align: left;
    border: 2px solid #0a7677;
    display: inline-block;
}



/*-----------------------------------------------------------------------------------------*/
/* Styles pour evenement de vous et entourage */
#even_vous {
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 388px; /* Largeur fixe */
    height: 794px; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    float: right; /* Flotter à droite */
    margin-left: 15px; /* Espacement à gauche */
    margin-top: 15px; /* Espacement en haut */
    margin-bottom: 15px; /* Espacement en bas */
}

#even_vous p {
    text-align: left;
    padding-left: 15px; /* Espacement à gauche du paragraphe */
}

.bloc_vous {
    border-radius: 10px; /* Bordure arrondie */
    width: 350px; /* Largeur fixe */
    height: 329px; /* Hauteur fixe */
    margin-left: 15px;
    margin-bottom: 10px;
    float: left;
    text-align: left;
    border: 2px solid #0a7677;
    display: inline-block;
}

/*-----------------------------------------------------------------------------------------*/
/* Styles pour le carrousel */
#bloc_carrousel {
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 797px; /* Largeur fixe */
    height: 384px; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    margin-top: 15px; /* Espacement en haut */
    margin-bottom: 15px; /* Espacement en bas */
    float: left; /* Flotter à gauche */
    clear: left; /* Permet de s'assurer que le bloc est après les blocs précédents */
}

#cadre{
    border-radius: 10px; /* Bordure arrondie */
    width: 760px; /* Largeur fixe */
    height: 310px; /* Hauteur fixe */
    margin-left: 15px;
    margin-bottom: 10px;
    float: left;
    text-align: left;
    display: inline-block;
}


/*-----------------------------------------------------------------------------------------*/
/* Styles pour l'ajour de photo */
#photo {
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 392px; /* Largeur fixe */
    height: 200px; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    float: left; /* Flotter à gauche */
    clear: left; /* Permet de s'assurer que le bloc est après les blocs précédents */
}

#photo p {
    text-align: left;
    padding-left: 15px; /* Espacement à gauche du paragraphe */
}

/*-----------------------------------------------------------------------------------------*/
/* Styles pour l'ajour de cv */
#cv {
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 392px; /* Largeur fixe */
    height: 200px; /* Hauteur fixe */
    float: left; /* Flotter à gauche */
    margin-left: 15px; /* Espacement à gauche */
    margin-bottom: 15px; /* Espacement en bas */
    text-align: center; /* Alignement du texte au centre */
}

/* Styles pour les paragraphes à l'intérieur des differents éléments */
#cv p {
    padding-left: 15px; /* Espacement à gauche du paragraphe */
}


/*-----------------------------------------------------------------------------------------*/
/* Styles pour le plan et le coordonnées*/
#plan {
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 388px; /* Largeur fixe */
    height: 360px; /* Hauteur fixe */
    float: right; /* Flotter à droite */
}

#plan p {
    text-align: left;
    padding-left: 15px; /* Espacement à gauche du paragraphe */
}

#plan img {
    text-align: center;
    border: 1px solid black;
}

/*-----------------------------------------------------------------------------------------*/
/* Styles pour le défilement des informations */
.scrollable-container_y {
    width: 388px; /*largeur de l'élément */
    height: 728px; /* hauteur de l'élément */
    overflow-y: auto; /* barre de défilement verticale */
    overflow-x: hidden; /* barre de défilement horizontale */
    margin-right: 10px;
}

.scrollable-container_x {
    width: 797px; /*largeur de l'élément */
    height: 388px; /* hauteur de l'élément */
    overflow-y: hidden; /* barre de défilement verticale */
    overflow-x: auto; /* barre de défilement horizontale */
    margin-right: 10px;
}

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* Style du boutons pour revenir en hait de la page */
#retour_haut {
    float: right;
    padding-right: 15px;
}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

/* Carousel */
#carrousel {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 252px;
    width: 730px;
    background-color: #a6cccc;
    border-radius: 10px; /* Bordure arrondie */
    padding-right: 40px;
}

#carrousel ul li{
    list-style: none;
    top: 0;
    left: 0;
}

#carrousel img {
    border: 1px solid black;
}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselBtn {
    cursor: pointer;
    padding : 10px 20px ;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color : white ;
    border: 1px solid black;
    background-color: #0a7677;
}

@media screen and (max-width: 1250px) {
    #wrapper {
        max-width: 680px; /* Largeur fixe */
        height: 2000px;
    }
    #even_semaine {
        width: 100%; /* Largeur */
    }
    #even_vous {
        width: 100%; /* Largeur */
        height: 400px;
        margin-bottom: unset;
    }
    #bloc_carrousel {
        width: 100%; /* Largeur */
    }
    #photo {
        width: 48.8%;
        margin-bottom: 15px;
    }
    #cv {
        width: 48.8%; /* Largeur */
    }
    #plan {
        width: 100%; /* Largeur */
    }
    #plan p {
        padding-left: 15px;
    }
    #image_decembre_1{
        margin-top: 16%;
        margin-left: 80%;
    }

    #image_decembre_2{
        margin-top: 16%;
        margin-left: 1%;
    }

}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* POUR les images du mois de decembre*/
#image_decembre_1 {
    position: absolute;
    margin-top: 13%;
    margin-left: 80%;
}

#image_decembre_2 {
    position: absolute;
    margin-top: 15%;
    margin-right: 90%;
}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* POUR les evenements */

#bloc1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 15px;
}
#bloc2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 215px;
}
#bloc3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    margin-top: 2px;
}




#bloc4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 15px;
}
#bloc5 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 2px;
    height: 235px;
}
#bloc6 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    margin-top: 3px;
}