/* CSS COUMMUN POUR TOUTE LES PAGES*/

/* Définition des styles pour la page Accueil*/
body {
    background-color: #0a7677;
    margin: 0; /* Aucune marge extérieure */
    padding: 0; /* Aucun remplissage intérieur */
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}


/*-----------------------------------------------------------------------------------------*/
/* Définition des styles pour la bannière */
#banderole {
    background-color: #a6cccc;
    padding-bottom: 1%; /* Espacement en bas */
    padding-top: 1%; /* Espacement en haut */
    display: flex; /* Utilisation du modèle de boîte flexible */
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

/* Styles pour la barre en dessous de la bannière */
#couleur{
    background-color: #585858;
    padding: 10px; /* Remplissage intérieur */
}

/* Styles spécifiques pour le logo dans la bannière */
#logo {
    cursor: pointer; /* Curseur pointer au survol */
    height: 120px;
    width: 260px;
}

/* Styles spécifiques pour le titre dans la bannière */
#titre {
    height: 120px;
    width: 710px;
    align-items: center;
    display: flex;
    text-align: center;
}

#nbr_membre {
    height: 120px;
    width: 70px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

/* Styles pour le nom avec lequel l'utilisateur est connecté */
#nomCompte {
    float : right;
    height: 120px;
    width: 110px;
    align-items: center;
}

/* Styles pour le logo deconnexion */
#deco {
    cursor: pointer; /* Curseur pointer au survol */
    height: 120px;
    width: 110px;
    align-items: center;
    display: flex;
}


/*-----------------------------------------------------------------------------------------*/
/* Définition des styles pour le conteneur principal (celui où les bloc sont stocke) */
#wrapper {
    max-width: 1200px; /* Largeur max*/
    height: 100%; /* Hauteur fixe */
    min-height: 900px; /* Largeur minimale */
    margin: auto; /* Centrer horizontalement */
    padding: 2%; /* Remplissage intérieur */
    text-align: center; /* Alignement du texte au centre */
}

/* Styles pour les boutons de direction */
#boutons{
    cursor: pointer;
    padding-top: 6px;
}

/* Styles pour le copyright */
#copy {
    background-color: #a6cccc;
    clear: both; /* Annule le flottement à gauche et à droite, permettant à "copy" de se positionner sous les éléments précédents */
    text-align: center; /* Alignement du texte au centre */
}


/*-----------------------------------------------------------------------------------------*/
/* Styles pour l'introduction afficher dans une boite quand on appuie sur le logo */

#container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#message_intro {
    background: #fff;
    width: 60%; /* largeur */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}




/*-----------------------------------------------------------------------------------------*/
/* Styles pour le défilement des informations */
.scrollable-container_y {
    width: 388px; /*largeur de l'élément */
    height: 745px; /* hauteur de l'élément */
    overflow-y: auto; /* barre de défilement verticale */
    overflow-x: hidden; /* barre de défilement horizontale */
    margin-right: 10px;
}

.scrollable-container_y2 {
    width: 797px; /*largeur de l'élément */
    height: 675px; /* hauteur de l'élément */
    overflow-y: hidden; /* barre de défilement verticale */
    overflow-x: auto; /* barre de défilement horizontale */
    margin-right: 10px;
}

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* Style du boutons pour revenir en hait de la page */
#retour_haut {
    float: right;
    padding-right: 15px;
}



/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/



@media screen and (max-width: 1250px) {
    #wrapper {
        max-width: 680px; /* Largeur fixe */
        height: 2000px;
    }

    #image_decembre_1{
        margin-top: 16%;
        margin-left: 80%;
    }

    #image_decembre_2{
        margin-top: 16%;
        margin-left: 1%;
    }

}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* POUR les images du mois de decembre*/
#image_decembre_1 {
    position: absolute;
    margin-top: 13%;
    margin-left: 80%;
}

#image_decembre_2 {
    position: absolute;
    margin-top: 15%;
    margin-right: 90%;
}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*Pour l'image d'ajout de conversation*/
#blocA {
    border-radius: 10px; /* Bordure arrondie */
    width: 70px; /* Largeur fixe */
    height: 60px; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    float: left; /* Flotter à droite */
    margin-top: 15px; /* Espacement en haut */
    margin-bottom: 15px; /* Espacement en bas */
}

/*-----------------------------------------------------------------------------------------*/
/*Pour la liste des conversation*/
#blocB {
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 288px; /* Largeur fixe */
    height: 840px; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    float: left; /* Flotter à droite */
    margin-top: 15px; /* Espacement en haut */
    margin-bottom: 15px; /* Espacement en bas */
}

#bloc {
    width: 268px; /* Largeur fixe */
    height: 105px; /* Hauteur fixe */
    margin : 10px;
    border-radius: 10px; /* Bordure arrondie */
}

#bloc_conv{
    border-radius: 10px; /* Bordure arrondie */
    width: 266px; /* Largeur fixe */
    height: 102px; /* Hauteur fixe */
    border : 1px solid black;
    margin-bottom: 10px;
}

#cliquable {
    border-radius: 10px; /* Bordure arrondie */
    width: 261px; /* Largeur fixe */
    height: 65px; /* Hauteur fixe */
    cursor: pointer;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
}

#btn_sup {
    border-radius: 10px; /* Bordure arrondie */
    width: 150px; /* Largeur fixe */
    height: 30px; /* Hauteur fixe */
    float: right;
    margin-right: -22px;
}

#titre_conv1 {
    background-color: #a6cccc;
    border-radius: 10px; /* Bordure arrondie */
    width: 268px; /* Largeur fixe */
    height: 60px; /* Hauteur fixe */
    margin : 10px;
    padding-top: 2px;
}


/*-----------------------------------------------------------------------------------------*/
/*Pour la conversation en elle meme*/
#blocC {
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 755px; /* Largeur fixe */
    height: 840px; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    float: left; /* Flotter à droite */
    margin-left: 15px; /* Espacement à gauche */
    margin-top: 15px; /* Espacement en haut */
    margin-bottom: 15px; /* Espacement en bas */
}

#titre_conv {
    background-color: #a6cccc;
    border-radius: 10px; /* Bordure arrondie */
    width: 735px; /* Largeur fixe */
    height: 60px; /* Hauteur fixe */
    margin : 10px;
    padding-top: 2px;
}

#conversation {
    border : 1px solid black;
    width: 735px; /* Largeur fixe */
    height: 638px; /* Hauteur fixe */
    margin : 10px;
    border-radius: 10px; /* Bordure arrondie */
    overflow-x: auto;
    padding-top: 15px;
}

#bulle_ami{
    border-radius: 10px; /* Bordure arrondie */
    width: 400px; /* Largeur fixe */
    height: 70px; /* Hauteur fixe */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

#bulle_info {
    border-radius: 10px; /* Bordure arrondie */
    width: 365px; /* Largeur fixe */
    height: 30px; /* Hauteur fixe */
    margin-bottom: 5px;
    float: left;
}

#date {
    border-radius: 10px; /* Bordure arrondie */
    width: 170px; /* Largeur fixe */
    height: 30px; /* Hauteur fixe */
    font-size: 12px;
    float :right;
}

#texte {
    border-radius: 10px; /* Bordure arrondie */

    text-align: left;
    margin-left : 10px;
    margin-right : 10px;
    padding: 5px;
    max-width: 350px;
}

#bulle_moi {
    border-radius: 10px; /* Bordure arrondie */
    width: 733px; /* Largeur fixe */
    height: 70px; /* Hauteur fixe */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    float: right;
    margin-right: 10px;
}

#bulle_info_moi {
    border-radius: 10px; /* Bordure arrondie */
    width: auto; /* Largeur fixe */
    height: 30px; /* Hauteur fixe */
    margin-bottom: 5px;
    float: right;
}

#date_moi {
    border-radius: 10px; /* Bordure arrondie */
    width: 170px; /* Largeur fixe */
    height: 30px; /* Hauteur fixe */
    font-size: 12px;
    float: left;
}


#envoie_mess {
    border-radius: 10px; /* Bordure arrondie */
    width: 735px; /* Largeur fixe */
    height: 70px; /* Hauteur fixe */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#mon_comm {
    text-align: left;
    float: left; /* Flotter à gauche */
    margin-left: 30px;
}

form {
    display: flex;
}

input {
    margin-left: 10px;
    width: 630px;
    height: 50px;
    border-radius: 10px; /* Bordure arrondie */
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid black;
    padding-left: 10px;
    margin-right: 15px;
}



/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 10px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}


#yesBtn {
    background-color: #0a7677;
    margin-bottom: 20px;
    border: none;
}

#noBtn {
    background-color: #0a7677;
    border: none;
    margin-left: 10px;
}


#popup button{
    background-color: #0a7677;
    color: white;
    height: 25px;
    width: 170px;
    margin-left: 10px;
}