/* CSS COUMMUN POUR TOUTE LES PAGES*/

/* Définition des styles pour la page Accueil*/
body {
    background-color: #0a7677;
    margin: 0; /* Aucune marge extérieure */
    padding: 0; /* Aucun remplissage intérieur */
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}


/*-----------------------------------------------------------------------------------------*/
/* Définition des styles pour la bannière */
#banderole {
    background-color: #a6cccc;
    padding-bottom: 1%; /* Espacement en bas */
    padding-top: 1%; /* Espacement en haut */
    display: flex; /* Utilisation du modèle de boîte flexible */
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

/* Styles pour la barre en dessous de la bannière */
#couleur{
    background-color: #585858;
    padding: 10px; /* Remplissage intérieur */
}

/* Styles spécifiques pour le logo dans la bannière */
#logo {
    cursor: pointer; /* Curseur pointer au survol */
    height: 120px;
    width: 260px;
}

/* Styles spécifiques pour le titre dans la bannière */
#titre {
    height: 120px;
    width: 710px;
    align-items: center;
    display: flex;
    text-align: center;
}

#nbr_membre {
    height: 120px;
    width: 70px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

/* Styles pour le nom avec lequel l'utilisateur est connecté */
#nomCompte {
    float : right;
    height: 120px;
    width: 110px;
    align-items: center;
}

/* Styles pour le logo deconnexion */
#deco {
    cursor: pointer; /* Curseur pointer au survol */
    height: 120px;
    width: 110px;
    align-items: center;
    display: flex;
}


/*-----------------------------------------------------------------------------------------*/
/* Définition des styles pour le conteneur principal (celui où les bloc sont stocke) */
#wrapper {
    max-width: 1200px; /* Largeur max*/
    height: 100%; /* Hauteur fixe */
    min-height: 550px; /* Largeur minimale */
    margin: auto; /* Centrer horizontalement */
    padding: 2%; /* Remplissage intérieur */
    text-align: center; /* Alignement du texte au centre */
}

/* Styles pour les boutons de direction */
#boutons{
    cursor: pointer;
    padding-top: 6px;
}

#test {
    clear: both;
    height: 10px;
}

/* Styles pour le copyright */
#copy {
    margin-top: auto;
    background-color: #a6cccc;
    clear: both; /* Annule le flottement à gauche et à droite, permettant à "copy" de se positionner sous les éléments précédents */
    text-align: center; /* Alignement du texte au centre */
}

/*-----------------------------------------------------------------------------------------*/
/* Style du boutons pour revenir en hait de la page */
#retour_haut {
    float: right;
    padding-right: 15px;
}



/*-----------------------------------------------------------------------------------------*/
/* Styles pour l'introduction afficher dans une boite quand on appuie sur le logo */

#container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#message_intro {
    background: #fff;
    width: 60%; /* largeur */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* POUR les images du mois de decembre*/
#image_decembre_1 {
    position: absolute;
    margin-top: 13%;
    margin-left: 80%;
}

#image_decembre_2 {
    position: absolute;
    margin-top: 15%;
    margin-right: 90%;
}




/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

form {
    display: flex;
}

button {
    background-color: #0a7677;
    color: white;
    height: 25px;
    width: 70px;
    margin-left: 10px;
}



#information button {
    background-color: #0a7677;
    color: white;
    height: 25px;
    width: 160px;
    margin-left: 10px;
    cursor: pointer;
}

input {
    margin-left: 10px;
    width: 820px;
    border-radius: 10px; /* Bordure arrondie */
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid black;
    padding-left: 10px;
}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* POUR LA PAGE pp_ami */

#information{
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 797px; /* Largeur fixe */
    height: 396px; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    float: left; /* Flotter à gauche */
    margin-top: 15px; /* Espacement en haut */
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#btn{
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 388px; /* Largeur fixe */
    height: 396px; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    float: right; /* Flotter à droite */
    margin-left: 15px; /* Espacement à gauche */
    margin-top: 15px; /* Espacement en haut */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#btn button {
    background-color: #0a7677;
    color: white;
    height: 25px;
    width: 160px;
    cursor: pointer;

}

#description{
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 1200px; /* Largeur fixe */
    height: 384px; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    margin-top: 15px; /* Espacement en haut */
    margin-bottom: 30px; /* Espacement en bas */
    float: left; /* Flotter à gauche */
    clear: left; /* Permet de s'assurer que le bloc est après les blocs précédents */
}


.publication{
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 1200px; /* Largeur fixe */
    height:auto; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    float: left; /* Flotter à gauche */
    margin-top: 15px; /* Espacement en haut */
    align-items: center;
    margin-bottom: 20px;
}


#pp_photo{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
    width: 300px;
}

#bloc1{
    margin: 20px;
    height: 150px;
    width: 300px;
    text-align: left;
}

#annee{
    margin-left: 20px;
    margin-right: 20px;
    height: 20px;
    width: 300px;
}

#job{
    margin-top: -170px;
    margin-left: 20px;
    height: 150px;
    width: 380px;
    text-align: left;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}












#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 10px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}


#yesBtn {
    background-color: #0a7677;
    margin-bottom: 20px;
    border: none;
}

#noBtn {
    background-color: #0a7677;
    border: none;
    margin-left: 10px;
}









/* POUR AFFICHER LES PUBLICATIONS*/
/*-----------------------------------------------------------------------------------------*/

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 10px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}


#yesBtn {
    background-color: #0a7677;
    margin-bottom: 20px;
    border: none;
}

#noBtn {
    background-color: #0a7677;
    border: none;
    margin-left: 10px;
}






#popup2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 10px;
}

#overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}


#yesBtn2 {
    background-color: #0a7677;
    margin-bottom: 20px;
    border: none;
}

#noBtn2 {
    background-color: #0a7677;
    border: none;
    margin-left: 10px;
}






#popup3 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 10px;
}

#overlay3 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}


#yesBtn3 {
    background-color: #0a7677;
    margin-bottom: 20px;
    border: none;
}

#noBtn3 {
    background-color: #0a7677;
    border: none;
    margin-left: 10px;
}











#bloc {
    background-color: #FFF;
    border-radius: 10px; /* Bordure arrondie */
    width: 1200px; /* Largeur fixe */
    height:auto; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    float: left; /* Flotter à gauche */
    margin-top: 15px; /* Espacement en haut */
    align-items: center;
}

#personne {
    background-color: #a6cccc;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 1120px;
    padding-left: 80px;
    height: 80px;
    float: left;
    display: flex;
    align-items: center;
}

#info{
    text-align: left;
    float: left; /* Flotter à gauche */
    margin-left: 30px;
}

#photo {
    margin-top: 10px;
    border-radius: 10px; /* Bordure arrondie */
    width: 1200px; /* Largeur fixe */
    height: 480px; /* Hauteur fixe */
    text-align: center; /* Alignement du texte au centre */
    float: left; /* Flotter à gauche */
    clear: both;
    padding-top: 5px;
}

#action {
    margin-bottom: 10px;
    border-radius: 10px; /* Bordure arrondie */
    width: 1120px; /* Largeur fixe */
    height: 60px; /* Hauteur fixe */
    float: left; /* Flotter à gauche */
    clear: both;
    text-align: left;
    padding-left: 80px;
    display: flex;
    align-items: center;
}

#mon_comm {
    text-align: left;
    float: left; /* Flotter à gauche */
    margin-left: 30px;
}

#commentaire {
    margin-top: 15px;
    border-radius: 10px; /* Bordure arrondie */
    width: 1060px; /* Largeur fixe */
    height: auto; /* Hauteur fixe */
    text-align: left;
    padding-left: 80px;
    float: left; /* Flotter à gauche */
    clear: both;
}

#comm2 {
    display: flex;
    align-items: center;
    clear: both;
}

#encadrement {
    margin-left: 10px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px; /* Bordure arrondie */
    width: 960px; /* Largeur fixe */
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}

form {
    display: flex;
}

button {
    background-color: #0a7677;
    color: white;
    height: 25px;
    width: 70px;
    margin-left: 10px;
}

#commentaire button{
    background-color: #0a7677;
    color: white;
    height: 25px;
    width: 210px;
}
#info button{
    background-color: #0a7677;
    color: white;
    height: 25px;
    width: 160px;
    margin-left: 580px;
}
input {
    margin-left: 10px;
    width: 820px;
    border-radius: 10px; /* Bordure arrondie */
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid black;
    padding-left: 10px;
}